<form {{action action on='submit'}}>
  <ul>
    <li>
      <label for="date">date</label>
      {{date-field human-value=date on-change=(action 'setDate') tagName=''}}
      {{#each expense.errors.date as |error|}}
        <span class="error">{{error.message}}</span>
      {{/each}}
    </li>
    <li>
      <label for="description">description</label>
      {{input name='description' value=expense.description}}
      {{#each expense.errors.description as |error|}}
        <span class="error">{{error.message}}</span>
      {{/each}}
    </li>
    <li>
      <label for="amount">amount</label>
      {{input name='amount' type='number' step='0.01' value=expense.amount}}
      {{#each expense.errors.amount as |error|}}
        <span class="error">{{error.message}}</span>
      {{/each}}
    </li>
    <li>
      <label for="comment">comment</label>
      {{input name='comment' value=expense.comment}}
      {{#each expense.errors.comment as |error|}}
        <span class="error">{{error.message}}</span>
      {{/each}}
    </li>
    {{yield}}
  </ul>
  <input type="submit" value={{submit}} />
</form>
