<form {{action 'login' on='submit'}}>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
  <ul>
    <li>
      <label for="email">email</label>
      {{input name='email' type='email' value=email}}
    </li>
    <li>
      <label for="password">password</label>
      {{input name='password' type='password' value=password}}
      <a href="#" {{action 'password-reset' }} class="password-reset-link">forgot?</a>
    </li>
  </ul>
  <input type="submit" value="Log in" />
</form>
