<h2>Reset Password</h2>
<p>
  Generate a password reset token that will be sent to your account's email address. Then use it to change your password.
</p>
{{#unless has-token-already}}
  <form class="password-reset" {{action 'createPasswordResetToken' on='submit'}}>
    <ul>
      <li>
        <label for="email">email</label>
        {{input name='email' type='email' value=model.email}}
      </li>
    </ul>
    <input type="submit" value="Generate token">
    <a href="#" {{action (mut has-token-already) true}} class="button">I already have the token</a>
  </form>
{{else}}
  <form class="password-reset"  {{action 'resetPassword' on='submit'}}>
    <ul>
      <li>
        <label for="token">token</label>
        {{input name='token' value=model.password-reset-token focus-in=(action (mut password-reset-token-error) '')}}
        <span class="error">{{password-reset-token-error}}</span>
      </li>
      <li>
        <label for="password">new password</label>
        {{input name='password' type='password' value=model.password}}
        {{#each model.errors.password as |error|}}
          <span class="error">{{error.message}}</span>
        {{/each}}
      </li>
    </ul>
    <input type="submit" value="Reset">
    <a href="#" {{action (mut has-token-already) false}} class="button">I don't have the token</a>
  </form>
{{/unless}}
