<h2>Reset Password</h2>
<form>
  {{#unless hasToken}}
    <ul>
      <li>
        email:
        {{input type='email' value=model.email}}
      </li>
    </ul>
    <input type="submit" {{action 'createPasswordResetToken'}} value="reset">
  {{else}}
    <ul>
      <li>
        token:
        {{input value=model.password-reset-token focus-in=(action (mut password-reset-token-error) '')}}
        {{password-reset-token-error}}
      </li>
      <li>
        password:
        {{input type='password' value=model.password}}
        {{#each model.errors.password as |error|}}
          {{error.message}}
        {{/each}}
      </li>
    </ul>
    <input type="submit" {{action 'resetPassword'}} value="reset">
  {{/unless}}
</form>
