{{#link-to 'expenses.new'}}New Expense{{/link-to}}
<br />
<form {{action 'filter' on='submit'}}>
  description{{input value=description}}
  <br />
  date from {{input value=dateFrom}} to {{input value=dateTo}}
  <br />
  amount from {{input value=amountFrom}} to {{input value=amountTo}}
  <br />
  {{input type='submit' value='filter'}}
</form>
<br />
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date and Time</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  
  {{#each model as |expense|}}
    <tr>
      <td>{{expense.description}}</td>
      <td>{{expense.amountInDollars}}</td>
      <td>{{expense.date}}</td>
      <td>{{expense.comment}}</td>
      <td>
        {{#link-to 'expenses.edit' expense}}edit{{/link-to}}
        <a href="#" {{action 'deleteExpense' expense}}>delete</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
total: {{model.meta.total-expense}}
{{#if daily-average-expense}}
  average daily expense: {{daily-average-expense}} in {{model.meta.number-of-days}} days
{{/if}}
{{outlet}}
