<h2>My expenses</h2>
{{#link-to 'expenses.new' class='button'}}New expense{{/link-to}}
<a href="" {{action 'toggleFilter'}} class="button">Filter</a>
{{#if show-filter}}
  {{expenses-filter action='filter'}}
{{/if}}
<table class="expenses">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date and Time</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |expense|}}
    {{expense-item expense=expense delete='deleteExpense' tagName=''}}
  {{/each}}
  </tbody>
</table>

<ul class="expenses-stats">
  <li class="expenses-stats-stat">
    Total: 
    {{amount-in-dollars model.meta.total-expense}}
  </li>
  {{#if model.meta.number-of-days}}
    <li class="expenses-stats-stat">
      Daily average: 
      {{amount-in-dollars daily-average-expense}} 
      <span class="expenses-stats-n-days">
        (in {{model.meta.number-of-days}} days)
      </span>
    </li>
  {{/if}}
</ul>
