{{#link-to 'admin.expenses.new'}}New Expense{{/link-to}}
user 
{{user-select action=(action 'filterUser') model=model.expenses users=model.users default=true}}
total {{model.expenses.meta.total-expense}}
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
 {{#each model.expenses as |expense|}}
    <tr>
      <td>{{expense.user.email}} {{#if (eq expense.user.email me.user.email)}}(you){{/if}}</td>
      <td>{{expense.date}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.amountInDollars}}</td>
      <td>
          {{#link-to 'admin.expenses.edit' expense.id}}edit{{/link-to}}
        <a href="#" {{action 'deleteExpense' expense}}>delete</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
